<div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item Dashboard">
        <a class="nav-link active " aria-current="page" [routerLink]="['/home']">
          <span data-feather="home"></span>
          Home
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['/department']">
          <span data-feather="file"></span>
          Departments
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " 
         [routerLink]="['/employee']">
          <span data-feather="shopping-cart"></span>
          Employees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/attendance']" >
          <span data-feather="users"></span>
          Attendance
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link "[routerLink]="['/general-setting']" >
          <span data-feather="bar-chart-2"></span>
          General Settings
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " [routerLink]="['/official-vacations']">
          <span data-feather="layers"></span>
          Official Vacations
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link "[routerLink]="['/salary-report']" >
          <span data-feather="layers"></span>
          Salary Report
        </a>
      </li>
    </ul>
  </div>
