<header class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" >
        <img src="HRLogo-removebg-preview.png" alt="Logo" width="40" height="35">
        <span class="Pioneers">Pioneers</span>
    </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item ">
      <a class="nav-link text-light px-3 logout" (click)="logout()">Logout</a>
    </div>
  </div>

</header>

