<h3 class="mt-3">General Settings</h3>
<hr />
<form class="login-form">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="overTime">Over Time</label>
      <input
        type="number"
        id="overTime"
        [(ngModel)]="generalSetting.overTime"
        required
        placeholder="Over Time"
        name="overTime"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="deduction">Deduction</label>
      <input
        type="number"
        id="deduction"
        [(ngModel)]="generalSetting.deduction"
        required
        placeholder="Deduction"
        name="deduction"
      />
    </div>
  </div>
  <h5>Weekly Holidays</h5>
  <p class="underLine"></p>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="weeklyHoliday1">Weekly Holiday 1</label>
      <select name="weeklyHoliday1" [(ngModel)]="generalSetting.weeklyHoliday1">
        @for (item of Days; track $index) {
          <option [ngValue]="item.value">{{item.name}}</option>
        }
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="weeklyHoliday2">Weekly Holiday 2</label>
      <select name="weeklyHoliday2" [(ngModel)]="generalSetting.weeklyHoliday2">
        @for (item of Days; track $index) {
          <option [ngValue]="item.value">{{item.name}}</option>
        }
      </select>
    </div>
  </div>
  <div class="row">
    <div class="container">
      @if(isSaveBtnVusible===true){
        <div class="form-group">
          <button type="submit" class="btn btn-primary editButton" (click)="addGeneralSetting()">Save</button>
        </div>
      }
      @if (isUpdateBtnVusible===true) {
        <div class="form-group">
          <button type="submit" class="btn btn-success editButton" (click)="updateGeneralSetting()">Update</button>
        </div>
      }
    </div>
  </div>
</form>
<hr>
<h5>All Settings</h5>
<p class="underLine"></p>
<div class="row login-form">
  @if (allGeneralSettings.length>0) {
    <div class="container">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Over Time</th>
              <th scope="col">Deduction</th>
              <th scope="col">Weekly holiday 1</th>
              <th scope="col">Weekly holiday 2</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            @for (item of allGeneralSettings; track item.id) {
            <tr>
              <td>{{item.overTime}}</td>
              <td>{{item.deduction}}</td>
              <td>{{item.weeklyHoliday1}}</td>
              <td>{{item.weeklyHoliday2}}</td>
              <td>
                  <button type="button" class="btn btn-success mx-2" (click)="Edit(item.id)">Edit</button>
                  <button type="button" class="btn btn-danger"(click)="deleteGeneralSetting(item.id)">Delete</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
  </div>
  }@else if (allGeneralSettings.length==0) {
    <h6>No General settings available</h6>
  }@else {
    <h6>
      Something went wrong!!
    </h6>
  }
</div>

